@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
    @*<p>Here is where we will display our graphs and summary information.</p>*@
</div>

<br />
<h3>Dashboard</h3>
<div class="container card">
    <script type='text/javascript' src='https://10az.online.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1000px; height: 827px;'><object class='tableauViz' width='1000' height='827' style='display:none;'><param name='host_url' value='https%3A%2F%2F10az.online.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;testtableausite123at' /><param name='name' value='test&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /></object></div>

    @*<div class="row">
            <div class="col card">
                <h6>Employees by Position</h6>
            </div>
            <div class="col card">
                <h6>Overall Gender Ratio</h6>
            </div>
            <div class="col card">
                <h6>Gender Ratio by Position</h6>
            </div>
        </div>
        <div class="row">
            <div class="col card">
                TA/RA Graph
            </div>
            <div class="col card">
                Overall Gender Graph
            </div>
            <div class="col card">
                Gender Graph by Position
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col card">
                <h6>Number of Employees</h6>
            </div>
            <div class="col card">
                <h6>Number of Employees by Position</h6>
            </div>
            <div class="col card">
                <h6>Gender Ratio by Position</h6>
            </div>
        </div>
        <div class="row ">
            <div class="col card">
                TA/RA Graph
            </div>
            <div class="col card">
                GEnder Graph
            </div>
            <div class="col card">
                GEnder Graph
            </div>
        </div>*@
</div>
<br />

<h3>Export Info</h3>
<div class="container card">
    <div class="row">
        <div class="col card">
            <h6>Document</h6>
        </div>
        <div class="col card">
            
        </div>
    </div>
    <div class="row">
        <div class="col card text-center">
            Document Name
        </div>
        <div class="col card">
            <button class="">Export</button>
        </div>
    </div>
</div>
