@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
    @*<p>Here is where we will display our graphs and summary information.</p>*@
</div>

<br />
<h3>Dashboard</h3>
<div class="container card">
    <br />
    <br />
    <br />
    
    @*<div class="row">
        <div class="col card">
            <h6>Employees by Position</h6>
        </div>
        <div class="col card">
            <h6>Overall Gender Ratio</h6>
        </div>
        <div class="col card">
            <h6>Gender Ratio by Position</h6>
        </div>
    </div>
    <div class="row">
        <div class="col card">
            TA/RA Graph
        </div>
        <div class="col card">
            Overall Gender Graph
        </div>
        <div class="col card">
            Gender Graph by Position
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col card">
            <h6>Number of Employees</h6>
        </div>
        <div class="col card">
            <h6>Number of Employees by Position</h6>
        </div>
        <div class="col card">
            <h6>Gender Ratio by Position</h6>
        </div>
    </div>
    <div class="row ">
        <div class="col card">
            TA/RA Graph
        </div>
        <div class="col card">
            GEnder Graph
        </div>
        <div class="col card">
            GEnder Graph
        </div>
    </div>*@
</div>
<br />

<h3>Export Info</h3>
<div class="container card">
    <div class="row">
        <div class="col card">
            <h6>Document</h6>
        </div>
        <div class="col card">
            
        </div>
    </div>
    <div class="row">
        <div class="col card text-center">
            Document Name
        </div>
        <div class="col card">
            <button class="">Export</button>
        </div>
    </div>
</div>
