@{
    ViewData["Title"] = "Our Team";
}

<div class="text-center">
    <h1 class="display-4">Our Team</h1>
    <p>Cami Morgan, Hannah Southwick, Jessica Kinghorn, Rebecca Leifer, Tyler Curtis</p>
</div>